<div class="container wrapper">
    <h2 class="text-center text-uppercase" style="visibility: visible;"> Rester en contact</h2>
    <form>
        <div>
            <div class="form-group row">
                <label class="col-2 col-form-label text-uppercase"> Nom </label>
                <div class="col-8">
                    <input class="form-control col-9 " type="text" placeholder="Nom">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label text-uppercase">Prénom</label>
                <div class="col-8">
                    <input class="form-control col-9" type="text" placeholder="Prénom">
                </div>
            </div>

        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label text-uppercase">Email</label>
            <div class="col-md-8">
                <input class="form-control col-9" type="email" placeholder="Email: lille@gmail.com">
            </div>
        </div>

        <div class="form-group row ">
            <label class="col-2 col-form-label text-uppercase" for="message"> Message</label>
            <div class="col-md-8">
                <textarea class="form-control col-9  " id="message " rows="5" formControlName="description" placeholder="Nous aimerions vous contacter à fin de ...."> </textarea>
            </div>
        </div>

        <div class="form-group row ">
            <label class="col-2 col-form-label ">&nbsp;</label>
            <div class="input-group col-md-9 ">
                <button type="submit " class="btn btn-outline-primary ">
          Envoyer
        </button>
            </div>
        </div>

    </form>

</div>