section{
    background-color: #f2f2f2;
}


/* Photo de fond */

.facts-section {
    background: url(../../../assets/img/digital.jpg) no-repeat center 50%;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    overflow: hidden;
    /* margin-top: 3rem; */
}


h2 {
    font-size: 2.3rem;
    font-family: 'Lato', sans-serif;
    text-align: center;
 
}

.definition {
    margin-top: 3rem;
}


 .title, strong{
    color: rgba(233, 33, 99, 1);
 }



/*  Contenedor flex */

.container-flex {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

@media (min-width:768px) {
    .objectif {
        flex: 0 0 70%;
    }
    .card {
        flex: 0 0 30%;
    }
}