html {
    background-color: #4BA1C3;
}


/* .photo {
    background: url(../../../assets/img/8287.jpg) no-repeat center 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: absolute;
    display: block;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
}  */


/* titre */


/* h1 {
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.688em;
    text-align: center;
} */


/* paragraphe  */

.container-flex {
    /* display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: justify;
    margin-bottom: 2em;
    max-width: 100%; */
}


/* p {
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    margin-left: 5em;
    margin-right: 5em;
} */


/* bouton  */


/* .btn-primary {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    border-radius: 80px;
    text-align: center;
    border: 3px solid rgba(233, 33, 99, 1);
    display: inline-flex;
    text-decoration: none;
    color: rgba(233, 33, 99, 1) !important;
    position: relative;
    overflow: hidden;
    background: transparent;
}

.btn-primary::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(233, 33, 99, 1) !important;
    top: -100%;
    left: 0;
    z-index: -1;
    transition: 0.3s;
}

.btn-primary::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(233, 33, 99, 1) !important;
    top: -100%;
    left: 0;
    z-index: -1;
    transition: 0.3s;
}

.btn-primary:hover {
    color: #fff;
}

.btn-primary:hover:before {
    top: 0;
}

.btn-primary:hover:after {
    top: 0;
} */