/* photo de fond */

.photo {
    background: url(../../../assets/img/photo1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: absolute;
    display: block;
    max-width: 100%;
    height: 100vh;
    overflow: scroll;
    padding-left: 0px;
    padding-right: 0px;
}


/*  text de la photo de fond */

.cv {
    color: #208864;
    margin-top: 20rem
}


/* .wrapper {
    margin: 0px;
    margin-top: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
} */

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

h2 {
    font-size: 2.3rem;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 3rem;
}

:after,
 :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #EEEEEE;
    position: relative;
    margin-top: 3rem;
}

.definition {
    margin-top: 3rem;
}

.facts-section {
    background: url(../../../assets/img/digital.jpg) no-repeat center 50%;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    overflow: scroll;
}

.count-wrap {
    padding: 25px;
}

.count-wrap i {
    font-size: 64px;
    margin: 0px 25px;
}

section {
    text-align: center;
}


/* les icones */

.fa-linkedin-in,
.fa-github {
    color: black;
}