<section class=" container-fluid photo wrapper py-5">

    <div class="cv text-center ">
        <p class="display-2">
            CV ERICK FRANCO
        </p>
        <h1 class="display-3 mb-3 data-toggle="> Developpeur web</h1>
        <a href="#" class="btn btn-success btn-lg"> Contactez-moi</a>
    </div>
</section>

<section class="reseaux py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 row" style="visibility: visible;">
                <div class="icons">
                    <div class="profil-item">
                        <a href="https://www.linkedin.com/in/erick-franco-delgado-394a6228/" target="blank">
                            <i class="fab fa-linkedin-in fa-2x"></i>
                        </a>
                        <h5>Linkedin</h5>
                    </div>

                </div>
            </div>
            <div class="col-sm-4 row" style="visibility: visible;">
                <div class="icons">
                    <div class="profil-item">
                        <a href="https://github.com/gache" target="blank">
                            <i class="fab fa-github fa-2x"></i>
                        </a>
                        <h5>github</h5>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>


<!-- Creation du profil -->
<section class="profil p-y-2 about-section section-padding">

    <div class="container ">
        <h2 class="text-center text-uppercase" style="visibility: visible;"> à propos de moi</h2>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class=" definition col-md-6 col-md-pull-4">
                <div>
                    <h3> Objectif </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam nam laborum nesciunt in a optio eos, animi libero sit placeat? Repellat quos quibusdam magni, cupiditate aspernatur excepturi reprehenderit dolores est. Lorem, ipsum dolor
                        sit amet consectetur adipisicing elit. Ipsa ipsum cupiditate reiciendis, ex repellendus odit corporis unde sequi, itaque est distinctio aperiam quas? Repudiandae autem nisi consequatur ea, modi necessitatibus.
                    </p>

                </div>
                <div>
                    <h3> Mes activités </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam nam laborum nesciunt in a optio eos, animi libero sit placeat? Repellat quos quibusdam magni, cupiditate aspernatur excepturi reprehenderit dolores est.</p>
                </div>
            </div>
            <div class="col-lg-6 align-self-stretch py-lg-5">
                <div class="card w-50">
                    <img class="card-img-top" src="../../../assets/img/photo3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center h2">Erick Franco</h5>
                        <p class="card-text"> <strong>Ville: </strong> Lille France</p>
                        <hr>
                        <p class="card-text"> <strong>Nationalité: </strong>Français</p>
                        <hr>
                        <p class="card-text"> <strong>Téléphone: </strong> (+33) 659655786</p>
                        <hr class="uk-width-8-10">
                        <p class="card-text"> <strong>Email: </strong> erickfrancodelgado@hotmail.com</p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="facts-section text-center py-5" data-stellar-vertical-offset="50" data-stellar-background-ratio="0.2" style="background-position: 50% -3.7125px;">

    <div class="tt-overlay-bg">
        <div class="container-fluid">
            <div class="row align-content-center">
                <div class="col-md-12">
                    <div class="count-wrap row">
                        <div class="col-sm-3 col-xs-6">
                            <i class="fa fa-flask fa-2x" aria-hidden="true"></i>
                            <h3>5</h3>
                            <p>Années d'études</p>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <i class="fa fa-code fa-2x" aria-hidden="true"></i>
                            <h3>5</h3>
                            <p>Lignes de code</p>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i>
                            <h3>5</h3>
                            <p>Projets réalisés</p>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <i class="	fa fa-spinner fa-2x" aria-hidden="true"></i>
                            <h3>5</h3>
                            <p>Temps passé</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>