<section class="quienes-somos p-y-2 text-center ">
    <div class="container ">
        <img src="" alt="Nosotro " width="181 " class="img-responsive mx-auto mb-2 ">
        <h2 class="h3 "> Qui suis-je </h2>
        <p class="text-justify ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium commodi saepe voluptas obcaecati laboriosam veritatis delectus repellat aspernatur temporibus! Fuga nihil asperiores odio doloremque quos beatae repudiandae alias id quod. Lorem
            ipsum dolor sit amet consectetur, adipisicing elit. Accusantium commodi saepe voluptas obcaecati laboriosam veritatis delectus repellat aspernatur temporibus! Fuga nihil asperiores odio doloremque quos beatae repudiandae alias id quod.
        </p>
        <a href="# " class="btn btn-secondary btn-lg data-toggle" data-target="#ponte-contacto"> MAS INFORMACION</a>
    </div>

</section>
