<div class="container-fluid main">
    <!-- <div class=" row wrapper ">

    </div> -->
    <app-nav-bar id="nav-bar">

    </app-nav-bar>
    <app-profil id="profil"> </app-profil>
    <div>
        <app-reseaux></app-reseaux>
    </div>
    <div>
        <app-propo></app-propo>
    </div>
    <div class="blank" >
        <app-parcours id="parcours"></app-parcours>
    </div>
    <app-competences id="competences" class="py-3"></app-competences>
    <div class="blank2 ">
        <app-contact class="py-3"></app-contact>
    </div>
    <app-footer></app-footer>

</div>