<div class="container-fluid main">
    <!-- <div class=" row wrapper ">

    </div> -->
    <app-nav-bar id="nav-bar" (scrollToParent)="scrollToId($event)"></app-nav-bar>
    <app-profil id="profil" (scrollToParent)="scrollToId($event)"> </app-profil>
    <div>
        <app-reseaux id="reseau"></app-reseaux>
    </div>
    <div>
        <app-propo id="propo"></app-propo>
    </div>
    <div class="blank" >
        <app-parcours id="parcours"></app-parcours>
    </div>
    <app-competences id="competences" class="py-3"></app-competences>
    <div  class="blank2">
        <app-contact id="contact" class="py-3"></app-contact>
    </div>
    <app-footer></app-footer>

</div>