<section class="fond">
  <div class="container-fluid">
    <header class="tête">
      <nav
        class="menu navbar fixed-top navbar-expand-lg"
        [ngClass]="{ inImage: isInImage, outImage: !isInImage }"
      >
        <a class="navbar-brand" href="#">Erick Franco</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#nav-principal"
          aria-controls="nav-principal"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nav-principal">
          <ul class=" nav navbar-nav ml-auto mt-2 mt-md-0  flex-sm-row  ">
            <li class="nav-item ">
              <a class="nav-link" href="#" (click)="scrollTo('profil', $event)"
                >ACCUEIL
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link" (click)="scrollTo('propo', $event)"
                >PROFIL</a
              >
            </li>
            <li class="nav-item">
              <a
                href="#"
                class="nav-link"
                (click)="scrollTo('parcours', $event)"
                >PARCOURS</a
              >
            </li>
            <li class="nav-item">
              <a
                href="#"
                class="nav-link"
                (click)="scrollTo('competences', $event)">COMPÉTENCES</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link" (click)="scrollTo('contact', $event)"
                >CONTACT</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </div>
</section>
