<section class="fond">
    <div class="container">
        <header class="tête">
            <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Erick Franco</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-principal" aria-controls="nav-principal" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
                <div class="collapse navbar-collapse" id="nav-principal">
                    <ul class="nav nav-justified w-100 flex-column flex-sm-row mr-auto mt-2 mt-md-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#">ACCUEIL </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">PROFIL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">PARCOURS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">COMPÉTENCES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">CONTACT</a>
                        </li>

                    </ul>

                </div>
            </nav>

        </header>
    </div>
</section>
