<div class="navegacion py-1">
    <!-- Menu responsive -->
    <nav class="nav-principal navbar navbar-expand-lg navbar-light bg-faded">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav_principal" aria-label="Mostrar navegacion">
        <span class="navbar-toggler-icon"></span>
    </button>
        <a href="#" class="navbar-brand ">Erick Franco</a>
        <div class="container">
            <div class="collapse navbar-collapse w-100 " id="nav_principal">

                <ul class="nav nav-justified w-100 flex-column flex-sm-row">
                    <li class="nav-item">
                        <a href="index.html" class="nav-link">ACCUEIL</a>
                    </li>

                    <li class="nav-item">
                        <a href="" class="nav-link">PROFIL</a>
                    </li>

                    <li class="nav-item">
                        <a href="" class="nav-link">PARCOURS</a>
                    </li>

                    <li class="nav-item">
                        <a href="" class="nav-link">COMPETECES</a>
                    </li>

                    <li class="nav-item">
                        <a href="" class="nav-link">CONTACT</a>
                    </li>
                </ul>
            </div>
            <!-- Cierra el collapse  -->
        </div>
        <!-- Cierra el container  -->
    </nav>
</div>
