.competences {
    background: url(../../../assets/img/fond.jpg) no-repeat center 50%;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    overflow: hidden;
}

.col-md-6 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 50%;
}

.skill-title h3 {
    font-size: 18px;
    font-weight: 400;
    margin-top: -6px;
    text-transform: capitalize;
}

h3 {
    text-align: center;
    color: #fff;
}

.progress {
    margin: auto;
    width: 50%;
}

.skill-title {
    margin-bottom: 10px;
}
