<section class="competences section-padding py-5">
  <div class="container">
    <h2 class=" competences1 text-uppercase" style="visibility: visible;"
    [ngsReveal]="{
      reset: true,
      duration: 2000,
      interval: 600
    }">
      compétences
    </h2>
  </div>
  <div class="row flex-container">
    <div class="  col-md-6  py-3" >
      <div class="skill-progress"  >
        <div class="skill-title">
          <h3>
            Angular
          </h3>
          <div class="progress">
            <div
              class="progress-bar six-sec-ease-in-out"
              role="progressbar"
              style="width: 70%"
              aria-valuenow="70"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span>70%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="skill-progress">
        <div class="skill-title">
          <h3>
            HTML5/CSS3
          </h3>
          <div class="progress">
            <div
              class="progress-bar six-sec-ease-in-out"
              role="progressbar"
              style="width: 70%"
              aria-valuenow="90"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span>70%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="skill-progress">
        <div class="skill-title">
          <h3>
            Java
          </h3>
          <div class="progress">
            <div
              class="progress-bar six-sec-ease-in-out progress-bar-animated"
              role="progressbar"
              style="width: 50%"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="50"
            >
              <span>50%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 py-3 ">
      <div class="skill-progress">
        <div class="skill-title">
          <h3>
            NodeJS
          </h3>
          <div class="progress">
            <div
              class="progress-bar six-sec-ease-in-out"
              role="progressbar"
              style="width: 50%"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span>50%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="skill-progress">
        <div class="skill-title">
          <h3>
            Javascript
          </h3>
          <div class="progress">
            <div
              class="progress-bar six-sec-ease-in-out"
              role="progressbar"
              style="width: 70%"
              aria-valuenow="70"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span>70%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="skill-progress">
        <div class="skill-title">
          <h3>
            SQL
          </h3>
          <div class="progress">
            <div
              class="progress-bar six-sec-ease-in-out progress-bar-animated"
              role="progressbar"
              style="width: 70%"
              aria-valuenow="70"
              aria-valuemin="0"
              aria-valuemax="100">
              <span>70%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-3">
  <div class="container" [ngsReveal]="{
    reset: true,
    duration: 2000,
    interval: 600
  }">
    <h2 class="text-uppercase">Projets</h2>
  </div>

  <div class="container-flex">
    <div class="card-columns" >
      <div
        class="card " 
        *ngFor="let projet of projets"
        [ngsReveal]="{
          reset: true,
          duration: 2000,
          interval: 600,
          delay: 250,
          easing: 'cubic-bezier(0.6, 0.2, 0.1, 1)',
          scale: 0.85
        }"
        >
        <div class="card-body " >
          <h5 class="card-title">{{ projet.nom }}</h5>
          <p class="card-text">{{ projet.description }}</p>
          <a href="#" class="btn btn-primary"> Voir Github</a>
        </div>
      </div>
    </div>
  </div>
</section>
