<section class="profil py-5 about-section section-padding wrapper">
    <div class="container">
        <h1 class="text-center">Parcours</h1>
        <div class="row">
            <div class="col-md-12  ">
                <h2 class=" text-center m-auto py-5">EXPÉRIENCES PROFESSIONNELLES</h2>
                <div class="Timeline m-auto py-3 ">
                    <ul>
                        <li>
                            <div class="content ">
                                <h3>Développeur web</h3>
                                <p>
                                    Création d'une application web avec le Framework Angular. L’objectif de l’application est de connaître l’état de santé ou l’avancement des différents projets de l’équipe. Projet conçu avec la méthodologie Agile avec par exemple, la création des Persona,
                                    les User stories. En plus tests réguliers avec les utilisateurs pour feedback immédiat.
                                </p>
                                <div class="time">
                                    <h4>Juin 2019</h4>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <h3>Technicien Support Informatique pour Maisons du monde</h3>
                                <p>
                                    Identification, analyse et traitement des demandes des utilisateurs, saisie de données, avec l'outil Easyvista.
                                </p>
                                <div class="time">
                                    <h4>Avril 2017</h4>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <h3>Chargé de mission droits humains</h3>
                                <p>
                                    Coordination du travail avec des ONG, rédaction de rapports économiques, organisation d’événements.
                                </p>
                                <div class="time">
                                    <h4>Avril 2015</h4>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <h3>Trésorier Association TEJE-Lille</h3>
                                <p>
                                    Montage de projets collectifs avec des bénévoles.
                                </p>
                                <div class="time">
                                    <h4>Juin 2019</h4>
                                </div>
                            </div>
                        </li>
                        <div style="clear: both;"></div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="profil py-5 about-section section-padding wrapper">
    <div class="container">
        <!-- <h2 class="text-center m-auto py-3">Parcours</h2> -->
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center m-auto py-3">Diplôme et Formations</h2>
                <div class="Timeline">
                    <ul>
                        <li>
                            <div class="content">
                                <h3>Concepteur Développeur Web Niveau II Bac +3</h3>
                                <p>
                                    Formation dans le cadre du Fongecif à Aston école informatique, Lille, France
                                </p>
                                <div class="time">
                                    <h4>Juillet 2019</h4>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <h3>
                                    Apprendre la programmation en JAVA(de débutant à avancé)
                                </h3>
                                <p>
                                    Formation à distance avec la plataforme Udemy
                                </p>
                                <div class="time">
                                    <h4>Avril 2019</h4>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <h3>Angular de Zero à expert</h3>
                                <p>
                                    Formation à distance avec la plataforme Udemy
                                </p>
                                <div class="time">
                                    <h4>Mars 2019</h4>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <h3>Programmation pour les débutants - les premiers pas</h3>
                                <p>
                                    Formation à distance avec la plataforme Udemy
                                </p>
                                <div class="time">
                                    <h4>Janvier 2019</h4>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <h3>Master 2 professionnel Solidarité Internationale</h3>
                                <p>
                                    Formation à l'université Lille 2, à Lille, France
                                </p>
                                <div class="time">
                                    <h4>Décembre 2015</h4>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <h3>
                                    Master 1 Sciences politiques-Politique européenne et internationale
                                </h3>
                                <p>
                                    Formation à l'université Lille 2, à Lille, France
                                </p>
                                <div class="time">
                                    <h4>Juin 2014</h4>
                                </div>
                            </div>
                        </li>
                        <div style="clear: both;"></div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>