<section class="profil py-5 about-section section-padding wrapper">
    <div class="container">
        <h1 class="text-center">Parcours</h1>
        <div class="row">
            <div class="col-md-12  ">
                <h2 class=" text-center m-auto py-5">EXPÉRIENCES PROFESSIONNELLES</h2>
                <div class="Timeline m-auto py-3 ">
                    <ul>
                        <li *ngFor="let item of listParcours; let i = index">
                            <div class="content ">
                                <h3>{{ item.titre }}</h3>
                                <p>
                                    {{ item.description }}
                                    <br>
                                    <a [routerLink]="[ '/experience1', i ] " class="btn btn-outline-primary"> Voir plus </a>
                                    <!-- <button (click)="voirExperience(i)" type="button" class="btn btn-outline-primary">Voir plus </button> -->
                                </p>
                                <div class="time">
                                    <h4>{{ item.date }}</h4>
                                </div>
                            </div>
                        </li>
                        <div style="clear: both;"></div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="profil py-5 about-section section-padding wrapper">
    <div class="container">
        <!-- <h2 class="text-center m-auto py-3">Parcours</h2> -->
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center m-auto py-3">Diplôme et Formations</h2>
                <div class="Timeline">
                    <ul>
                        <li *ngFor="let items of listDiplome">
                            <div class="content">
                                <h3>{{ items.nomDiplome }}</h3>
                                <p>
                                    {{ items.description }}
                                </p>
                                <div class="time">
                                    <h4>{{ items.annee }}</h4>
                                </div>
                            </div>
                        </li>
                        <div style="clear: both;"></div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>