<section class="competences ">
    <div class="container">
        <h1 class=" competences1" [ngsReveal]="{
      reset: true,
      duration: 2000,
      interval: 600}">
            compétences
        </h1>

    </div>
    <div class="row flex-container">
        <div class="  col-md-6  py-3">
            <div class="skill-progress" *ngFor="let item of listLangage">
                <div class="skill-title">
                    <h3>
                        {{item.langage}}
                    </h3>
                    <div class="progress">
                        <div class="progress-bar six-sec-ease-in-out" role="progressbar" [ngStyle]="{'width': item.porcentage}" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                            <span>{{ item.porcentage }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="  col-md-6  py-3">
            <div class="skill-progress" *ngFor="let item2 of listLangage2">
                <div class="skill-title">
                    <h3>
                        {{item2.langage2}}
                    </h3>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [ngStyle]=" {'width': item2.porcentage} " aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                            <span>{{ item2.porcentage }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>